@font-face {
  font-family: Kitab;
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: url(https://fonts.nuqayah.com/kitab.woff2?v=2) format("woff2"),
    url(https://fonts.nuqayah.com/kitab.woff?v=2) format("woff");
}

@font-face {
  font-family: Kitab;
  font-style: normal;
  font-display: block;
  font-weight: 700;
  src: url(https://fonts.nuqayah.com/kitab-b.woff2?v=2) format("woff2"),
    url(https://fonts.nuqayah.com/kitab-b.woff?v=2) format("woff");
}

html {
  font-size: 24px;
}

body {
  margin: 0;
  font-family: Kitab;
  direction: rtl;
  background: url(bg.png) #fffdf8;
  line-height: 2.1;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
}

::-webkit-scrollbar:vertical {
  background: #fff;
}

#container {
  max-width: 850px;
  margin: 0 auto;
  color: #4a4440;
  padding: 0.7rem;
}

#container br {
  line-height: 1.5rem;
}

.indenter {
  display: inline-block;
  width: 1.2rem;
}

.basmalah {
  margin-block: 2rem;
  outline: none;
  border: none;
}

.basmalah,
footer {
  text-align: center;
}

footer {
  color: #d3d3d3;
  border-top: 1px solid;
  margin: 8px auto 0;
  max-width: 250px;
}

footer a {
  color: grey;
  text-decoration: none !important;
}

.bayt {
  margin: 0.25rem auto;
  max-width: 630px;
}

.bayt-ajiz,
.bayt-sadr {
  text-align: justify;
  width: 45.5%;
  line-height: 0.7rem;
  display: inline-block;
}

.bayt-ajiz:after,
.bayt-sadr:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.bayt-sep {
  color: #f1805c;
  font-size: 0.9rem;
  vertical-align: top;
  padding: 0 8px;
  color: #e64a19;
  width: 4.6%;
  display: inline-block;
  text-align: center;
  font-size: 0.7rem;
  line-height: 1rem;
}

@media (max-width: 992px) {
  html {
    font-size: 21px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 19px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 17px;
  }
}

@media (max-width: 500px) {
  .bayt-ajiz,
  .bayt-sadr {
    width: 65%;
  }

  .bayt-sep {
    display: none;
  }

  .bayt-ajiz {
    margin-right: 35%;
    position: relative;
    bottom: 4px;
  }
}
